h1 {
    text-align: center;
}

h1{
    font-family: 'Cinzel', serif;
    font-size: 24px;
    font-weight: 900;
}

div{
    font-family: 'Cinzel', serif;
    /* font-size: 24px; */
    font-weight: 400;
    margin: 10px;
}

.form-group {
    margin :0;
}

#addCatBtn{
    margin-top:15px;
}

#boxId{
    /* padding: 3; */
    width: 100%;
    height: 205px;
}

#ctnDiv{
    /* padding: 3; */
    /* width: 100%; */
    /* height: 100%; */
    margin-right: 0;
    margin-left: 0;
    padding-left:0;
    padding-right:0;
}

#overRide {
    padding: 3px;
    width: 215px;
    height: 100%;
}

.categories{
    margin : 3px;
}

.caption{
    text-align: center;
}