h1 {
    text-align: center;
}

h1{
    font-family: 'Cinzel', serif;
    font-size: 24px;
    font-weight: 900;
}

div{
    font-family: 'Cinzel', serif;
    /* font-size: 24px; */
    font-weight: 400;
    margin: 10px;
}

.form-group {
    margin :0;
}

#addCatBtn{
    margin-top:15px;
}
.gifs-img {
    padding: 3;
    width: 215px;
    height: 225px;
}

.categories{
    margin : 3px;
}